.method-color(@color) {
  background-color: white;
  border: 1px solid @color;

  &.method-name {
    color: @color;
  }

  &.expanded {
    .method-name, .filler {
      background-color: @color;
      color: white;
    }
  }

  &.expanded.method-name:hover {
    background-color: @color;
    color: white;
  }

  // background-color: tint(@color, 15%);
  // border-color:     tint(@color, 15%);
  box-sizing: border-box;
  &.method-name:hover {
    background-color: @color;
    color: white;
  }

  .description {
    color: #333;
  }
  &.method {
    .method-name:hover, .filler:hover {
      // background-color: tint(@color, 15%);
    }
  }

  &.method-summary {
    background-color: @veryLightGray;
    border: none;
    &:hover {
      background-color: tint(@color, 90%);
    };
  }
}

.get      { .method-color(@cornflower); }
.post     { .method-color(@green);      }
.put      { .method-color(@aqua);       }
.patch    { .method-color(@mustard);    }
.delete   { .method-color(@red);        }
.head     { .method-color(@purple);     }
.options  { .method-color(@limeGreen);  }
.trace    { .method-color(@skyBlue);    }
.connect  { .method-color(@gold);       }

.method-name {
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;

  width: 60px;
}

.method {
  margin: 10px 15px;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;

  &.collapsed {
    border: none;
  }

  &.expanded {
    border-radius: 0 0 5px 5px;
    background: white;
  }

  .description {
    margin-left: 0;

    p:first-child {
      margin-top: 0px;
    }
  }
}

.method-summary {
  overflow: hidden;
  cursor: pointer;
  position: relative;

  .filler {
    display: block;
    height: 32px;
    width: auto;
  }

  .description {
    padding: 0 20px 0 10px;
    border: 1px solid @lightGray;
    border-left: none;
    border-radius: 0 5px 5px 0;
    height: 30px;
    line-height: 30px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  .method-name {
    float: left;
    line-height: 30px;
  }

  i {
    position: absolute;
    top: 0;
    right: 10px;
    color: @lightGray;
    line-height: 32px;
    font-size: 19px;
  }

  .clearfix();
}
